* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: #464646;
}

html {
  font-size: 62.5%;
}

body {
  margin-bottom: 1000px;
}

a {
  color: #464646;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header-bg {
  background: #F5F5F5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

.header-menu {
  display: flex;
  gap: 32px;
}

.header-menu li{
  font-size: 1.6rem;
  font-weight: 500;
}

.apresentacao-bg {
  background: #F5F5F5;
}

.apresentacao {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-top: 67px;
  padding-bottom: 32px;
}

.apresentacao-content h1 {
  color: #464646;
  font-size: 5.2rem;
  margin-bottom: 24px;
  max-width: 750px;
}

.apresentacao-content p {
  color: #464646;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 26.5px;
}

.apresentacao-links {
  display: flex;
  gap: 60px;
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
}

.apresentacao-links a::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/seta.svg") no-repeat center;
  position: absolute;
  top: 2px;
  margin-left: 5px;
}

.sobre-mim-bg {
  background-color: #EAF2FD;
}

.sobre-mim {
  padding-top: 64px;
  padding-bottom: 64px;
}

.sobre-mim h2 {
  color: #464646;
  font-size: 3.2rem;
  margin-bottom: 16px;
}

.sobre-mim p {
  color: #464646;
  font-size: 1.6rem;
  max-width: 750px;
  margin-bottom: 16px;
}

.skills-hobbies-bg {
  background-color: #F5F5F5;;
}

.skills-hobbies-content h2{
  text-align: center;
  font-size: 3.2rem;
  padding: 32px 0;
}

.skills-hobbies {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 16px 16px;
  background-color: #fff;
  height: 175px;
  margin-bottom: 88px;
}

.item img {
  margin-bottom: 8px;
}

.item h3 {
  font-size: 1.6rem ;
}

.hobbies-content h2 {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 32px;
}

.formacao-bg {
  background-color: #EAF2FD;
  padding: 82px 0;
}

.formacao-bg h2 {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 32px;
}

.formacao-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.formacao-item h3 {
  font-size: 2.2rem;
  margin: 8px 0;
}

.formacao-item span {
  font-size: 1.6rem;
}

.projetos-bg {
  background-color: #F5F5F5;
  padding: 32px 0;
}

.projetos-bg h2 {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 32px;
}

.projetos-item {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 55px;
}

.projetos-infor h3 {
  font-size: 2.2rem;
  margin-bottom: 8px;
}

.projetos-infor span {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 8px;
}

.repo {
  color: #2A7AE4;
  font-size: 1.6rem;
  font-weight: 400;
  display: inline-block;
  padding: 16px;
  border: 1px solid #2A7AE4;
  margin-right: 16px;
}

.demo {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #2A7AE4;
  display: inline-block;
  padding: 16px;
}
